/* Import fonts */

@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Cabin);
@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import url(http://fonts.googleapis.com/css?family=Oswald);

/* body: Set font / font size / padding */

body {
  font-family: 'Futura', Comic Sans MS, sans-serif;
  font-size: 18px;
  padding-top: 50px;
  letter-spacing: 1px;
}


/* Navbar customization */

.navbar {
  background-color: #111;
  border-color: #111;
}


/* customization left side */

.navbar .navbar-left > li > a {
  font-size: 12px;
  letter-spacing: 2px;
  color: #fff;
  background-color: #111;
  margin-left: 5px;
  margin-right: 5px;
}


/* customization right side */

.navbar .navbar-right > li > a {
  font-size: 17px;
  letter-spacing: 4px;
  color: #fff;
}

.navbar-right.social {
  margin-right: 10px;
}


/* navbar hover customization */

ul.nav a:hover,
ul.nav a:focus,
ul.nav a:active{
  color: #000 !important;
  background-color: #eee !important;
}

/* H1 tag customization */

h1 {
  font-family: 'Oswald', Lobster, sans-serif;
  font-size: 40px;
  letter-spacing: 1px;
  margin-bottom: 5%;
}


/* Home section */
/* background */
.bg-home {
  height: 100%;
  padding-top: 8%;
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('https://dl.dropboxusercontent.com/s/yc17ypyn6w2kodr/hom-bg.png?dl=0');
  background-size: cover;
}

/* Name + job customization */

#name-job {
  border: 1.5px solid #fff;
  color: #fff;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-left: 25%;
  margin-right: 25%;
}

hr{
  border: 1px solid #eee;
}

#name {
  font-size: 60px;
  letter-spacing: 4px;
  font-family: "Oswald", Pacifico, sans-serif;
}

@media(max-width:767px) {
  #name{
    font-size: 40px;
  }
}

#job-title {
  letter-spacing: 2px;
  font-size: 24px;
  color: #eee;
}

/* Arrow down to about section customization */

#arrow-down {
  margin-top: 18%;
  padding-bottom: 6%;
}

.arrow {
  color: #fff;
}

.arrow:hover {
  color: #ddd;
}

div#arrow-down a:visited{
  color: #fff !important;
}

/* increase all animations duration */

.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

hr {

}

/* About Me section customization */
/* background */
.bg-about {
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #eee;
  background-size: cover;
  color: #000;
}

/* title + text */
#description {
  padding-left: 15%;
  padding-right: 15%;
}

#about-header{
  padding-bottom: 2%;
}

/* My projects Section */
.bg-work {
  padding-top: 2%;
  padding-bottom: 6%;
  padding-left: 12%;
  padding-right: 12%;
  background: url('https://dl.dropboxusercontent.com/s/azx9xzkfbbgyhcc/work-bg-min.jpg?dl=0');
  color: #FFFFFF;
}

.store{
  color: #fff;
}

.placeholder{
  padding-left: 5%;
  padding-top: 5%;
  overflow: hidden;
}

.ph-description{
  margin-top: 10px;
  width: auto;
}

/* Contact section */

.bg-contact {
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #FFF;
  color: #000;
}

/* social buttons */
.find-social {
  list-style-type: none;
}

.btn-primary {
  background-color: #000;
  border-color: #fff;
}

.btn-primary:hover {
  background-color: #999;
  border-color: #000;
  transition: 0.2s;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

#email{
  padding-top: 2%;
}